#home
{
    background:#303030 !important;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 200px;
}

#th_historique
{
    background-color: white;
}

#tableau_historique
{
    background-color: white;
    margin-top: 5px;
}

td
{
    color: #333;
}

th
{
    color: #333;
}

.titre
{
    width: 650px;
}

